# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
#Load .csv file
weather_df=pd.read_csv('weather_df.csv')
weather_df.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Temp,Wind Speed
0,0,Erzin,84,TR,1588217084,89,36.96,36.20,64.00,0.43
1,1,Mbekenyera,100,TZ,1588217173,87,-10.00,38.98,70.20,2.91
2,2,Busselton,0,AU,1588217050,33,-33.65,115.33,63.73,12.68
3,3,Thompson,75,CA,1588217057,56,55.74,-97.86,44.60,10.29
4,4,Road Town,90,VG,1588216882,94,18.42,-64.62,77.11,8.05

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Setup gmaps to display data from the weather notebook of part 1 and use humidity as the weight factor for the heatmap.
gmaps.configure(api_key=g_key)

locations = weather_df[['Lat', 'Lng']]
weights = weather_df['Humidity']

fig=gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [10]:
# Create a desired weather dataframe based on a temperture range of 70 to 80 degrees and a humidity of 30 to 61 percent. 
# We further refine the search with no clouds and a wind speed of less than 10 mph.
desired_weather_df = weather_df[weather_df['Temp'].gt(69) & weather_df['Temp'].lt(81) & weather_df['Wind Speed'].lt(10) & weather_df['Cloudiness'].eq(0)].reset_index()
desired_weather_df.head(10)

,index,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Temp,Wind Speed
0,7,7,Iranshahr,0,IR,1588217174,27,27.20,60.68,78.80,4.70
1,86,86,Yumen,0,CN,1588217185,7,40.28,97.20,78.37,6.17
2,109,109,Mossamedes,0,AO,1588217188,68,-15.20,12.15,74.19,7.36
3,179,179,Ixtapa,0,MX,1588217198,52,20.70,-105.20,69.71,2.37
4,219,219,Poum,0,NC,1588217203,74,-20.23,164.02,78.67,6.78
5,231,231,Cap Malheureux,0,MU,1588217205,73,-19.98,57.61,75.00,5.01
6,236,236,Sawākin,0,SD,1588217205,63,19.11,37.33,74.77,9.40
7,266,266,Caucayá,0,CO,1588217209,74,-0.19,-74.78,76.44,2.15
8,292,292,Acajutla,0,SV,1588217198,96,13.59,-89.83,73.99,1.01
9,294,294,Aksu,0,CN,1588217093,11,41.12,80.26,79.11,3.04

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [11]:
dWeather_df = desired_weather_df[['City', 'Country', 'Lat', 'Lng']].copy()
dWeather_df['Hotel'] = dWeather_df.apply(lambda _: '', axis=1) 

dWeather_df.head()

         City Country    Lat     Lng Hotel
0   Iranshahr      IR  27.20   60.68
1       Yumen      CN  40.28   97.20
2  Mossamedes      AO -15.20   12.15
3      Ixtapa      MX  20.70 -105.20
4        Poum      NC -20.23  164.02

In [12]:
# Code to create a list for hotels that match our refined search for the "perfect" vacation location.
hotel_list=[]
Lat_list=[]
Lng_list=[]
City_list=[]
Country_list=[]

for row in dWeather_df.itertuples():
    #base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"+"location=" + str(row.Lat) +"," +str(row.Lng) + "&radius=5000&type=hotel&keyword=hotel&key=" + g_key
    
    # Execute request
    response = requests.get(base_url)
    try:
        # Convert response to json
        jaysponse = response.json()
        if jaysponse['status'] == "ZERO_RESULTS":
           response.raise_for_status()
        else:
            print(f"Hotel {jaysponse['results'][0]['name']} found nearby in the country of {row[2]}")
            hotel_list.append(jaysponse['results'][0]['name'])
            Lat_list.append(jaysponse['results'][0]['geometry']['location']['lat'])
            Lng_list.append(jaysponse['results'][0]['geometry']['location']['lng'])
            City_list.append(row[1])
            Country_list.append(row[2])
    except KeyError:
        print(f"No hotel found nearby.")

Hotel هتل و رستوران قصر found nearby in the country of IR
Hotel Hotel ibis Styles Iu Namibe found nearby in the country of AO
Hotel Flamingo Vallarta Hotel & Marina found nearby in the country of MX
Hotel Mauricia Beachcomber Resort & Spa found nearby in the country of MU
Hotel اولاد خضر found nearby in the country of SD
Hotel Hotel San Pedro Plaza found nearby in the country of CO
Hotel Villavela Hotel Boutique found nearby in the country of SV
Hotel Tianyuan International Hotel found nearby in the country of CN
Hotel Pousada Liberdade found nearby in the country of BR
Hotel Crowne Plaza Ordos found nearby in the country of CN

In [14]:
#create dataframe
dHotel_dict = {
    "Hotel Name":hotel_list,
    "Lat":Lat_list,
    "Lng":Lng_list,
    "City":City_list,
    "Country":Country_list
}

dHotel_df=pd.DataFrame(dHotel_dict)
dHotel_df.head()

,Hotel Name,Lat,Lng,City,Country
0,هتل و رستوران قصر,27.206752,60.695703,Iranshahr,IR
1,Hotel ibis Styles Iu Namibe,-15.190917,12.151250,Mossamedes,AO
2,Flamingo Vallarta Hotel & Marina,20.664605,-105.248289,Ixtapa,MX
3,Mauricia Beachcomber Resort & Spa,-20.009727,57.580748,Cap Malheureux,MU
4,اولاد خضر,19.111225,37.309389,Sawākin,SD

In [15]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in dHotel_df.iterrows()]
locations = dHotel_df[["Lat", "Lng"]]

In [16]:
# Add marker layer ontop of heat map
markers=gmaps.marker_layer(locations, hotel_info)
fig.add_layer(markers)
fig
# Display Map

Figure(layout=FigureLayout(height='420px'))